@using MyProjectManager.Helpers
@model List<MyProjectManager.Models.Project>

@{
    ViewBag.Title = "Index";
}
@if (ApplicationState.Instance.CurrentUser != null)
{
    <h2 style="margin-top:110px">Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
               Project Name
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

    </table>
}
